#ログファイル
*.log

#テキストファイル
*.txt

#pngファイル
*.png

#zipファイル
*.zip

#任意のファイル・ディレクトリ
backtest/
.pytest_cache/
__pycache__/
candle_chart/
config_rt.py
config2.ini
src/__pycache__/
test/__pycache__/
*.code-workspace
aws_login.sh
README_0816_サーバ移動用バックアップ.md
ターミナル起動メモ
